DATABASE_HOST=127.0.0.1
DATABASE_PORT=3306
DATABASE_USER=root
DATABASE_PASSWORD=root
DATABASE_NAME=nama_database

NUXT_SESSION_PASSWORD=isi_dengan_string_random_minimal_32_karakter
NUXT_PUBLIC_APP_NAME=XXXX
NUXT_PUBLIC_BASE_URL=http://localhost:3000